/* Обнуление стилей */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
/* Обнуление стилей */

.header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7) ), url(images/background-header.jpeg);
    height: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 12px 0px 80px 0px;
    background-size: cover;
    background-position: center;
}

.header__wrapper {
    width: 82%;
    max-width: 1440px;
    margin: 0px auto;
}

.nav {
    display: flex;
    background: #ced466;
    align-items: center;
    padding: 13.5px 2% 13.5px 1%;
    border: 1.2px solid black;
    border-radius: 9px;
    justify-content: space-between;
    border: 1.5px solid white;
}

.logo {
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
    padding: 6px 6px 6px 0px;
}

.logo:hover {
    border-radius: 5px;
    background-color: #b3b8539f;
}

.logo__img {
    max-width: 65px;
    max-height: 70px;
}

.logo__text {
    font-family: 'Tektur', cursive; 
    font-size: 36px;
}

.nav__menu {
    display: flex;
}

.nav__item {
    font-family: 'Playfair Display', serif;
    font-size: 19.5px;
    margin-right: 28px;
    padding: 2px 4px 3.5px 4px;
    background-color: white;
    border: 1.8px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.35s linear;
}

.nav__item:hover {
    background-color: #fff59c;
}

.nav__item:last-child {
    margin-right: 0px;
}

.account {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1.8px solid darkmagenta;
    border-radius: 10px;
    padding-right: 6px;
    cursor: pointer;
    transition: background-color 0.35s linear;
}

.account:hover {
    background-color: #d4d4d4;
}

.account__text {
    font-family: 'Tektur', cursive; 
    font-size: 14px;
}

.popup-friends {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}

.popup-friends__box {
    position: relative;
    padding: 15px;
    background-color: #ffffffef;
    width: 70vw;
    max-width: 70vw;
    height: 80vh;
    margin-top: 120px;
    border: 3px solid #c4c4c4ec;
    border-radius: 3px;
    overflow-y: auto;
}

.popup-friends__close {
    cursor: pointer;
    position: absolute;
    padding: 0px;
    top: 15px;
    right: 15px;
    border: none;
    background-color: transparent;
    width: 35px;
    height: 35px;
}

.box__friends {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.popup-friends.open {
    visibility: visible;
    opacity: 1;
}

.burger-menu {
    display: flex;
    align-items: center;
    position: relative;
}

.burger-menu__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: black;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    z-index: 0;
}

.burger__line {
    width: 28px;
    height: 3px;
    background-color: aliceblue;
    margin-bottom: 4px;
    border-radius: 2px;
}

.burger__line:last-child {
    margin-bottom: 0px;
}

.burger-slide {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 210px;
    top: -1.5px;
    right: 0px;
    background-color: white;
    padding: 10px;
    border-top: 5px solid black;
    border-radius: 4px;
}

.burger-slide.open {
    visibility: visible;
    opacity: 1;
}

.burger-item {
    font-family: 'Playfair Display', serif;
    width: 100px;
    display: block;
    font-size: 17px;
    margin-top: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.burger-hide {
    display: none;
}

.burger-item:hover {
    color: #948c62;
}

.burger-item:first-child {
    margin-top: 0px;
}

.burger-menu{
    display: none;
}

.header__down {
    background-color: #fffffabb;
    border-radius: 12px;
    margin-top: 200px;
    padding: 40px;
    text-align: center;
}

.header__title {
    font-family: 'Tektur', cursive; 
    font-size: 40px;
    background-image: linear-gradient(to bottom, black, #edba02e8, #edba02e8);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.header__title-subtitle__line {
    border: 2px solid #7d5a00ef;
    margin: 20px 0px;
    border-radius: 50px;
}

.header__title span{
    font-size: 40px;
    vertical-align: middle;
    color: #574e00db;
}

.header__subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 500;
}

.header__button-play-game {
    margin-top: 72px;
    text-align: center;
}

.button-play-game {
    font-family: 'Tektur', cursive; 
    font-size: 26px;
    background-color: #de9221;
    border: 3px solid black;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 10px 15px;
    display: inline-block;
    transition: all 0.8s;
}

.button-play-game:hover {
    background-color: #ffb31aed;
    border: 3px solid white;
}

/* MAIN */

.main__advantages {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ), url(images/main-background-advantages.jpeg);
    height: 100%;
    min-height: 100vh;
    padding: 0px 0px 180px 0px;
    border-top: 1.2px solid #8a8a8a96;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.main__wrapper {
    width: 90%;
    max-width: 1550px;
    margin: 0px auto;
}

.advantages {
    text-align: center;
    margin-top: 50px;
}

.advantages__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #edba00eb;
    background-color: #0009;
    border: 0.6px solid #c2ac4075;
    text-transform: uppercase;
    border-radius: 3.4px;
    display: inline-block;
    padding: 14px 20px;
}

.advantages__holder-cards {
    margin-top: 11vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantages__card {
    background-color: #ffffffb0;
    border: 1.3px solid #ab8600a3;
    border-top-left-radius: 2px;
    border-top-right-radius: 30px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.advantages__card:hover {
    background-color: #e0e0e0b0;
    border: 1.3px solid #e00000a3;
}

.advantages__card img{
    width: 100%;
    height: 100%;
    max-width: 170px;
    max-height: 145px;
}

.advantages__card__title{
    font-family: 'Tektur', cursive; 
    font-size: 20px;
    margin: 25px 0px 8px 0px;
    max-width: 160px;
}

.advantages__card__subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    max-width: 230px;
}

.main__game-info {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 30), rgba(0, 0, 0, 20), rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 30) );
    height: 100%;
    min-height: 100vh;
    padding: 0px 0px 100px 0px;
    border-top: 1.2px solid #8a8a8a96;
    border-bottom: 2px solid #8a8a8a96;
}

.game-info {
    text-align: center;
    margin-top: 50px;
}

.game-info__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff700d7;
    background-color: #9c9c9c93;
    border: 2px solid #ffffffd3;
    text-transform: uppercase;
    border-radius: 18px;
    display: inline-block;
    padding: 10px 17px;
}

.game-info__holder-questions {
    width: 96%;
    margin: 80px auto 0px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.game-info__question {
    background-color: #fff5e5;
    border: 3.3px solid #9c4100a3;
    border-radius: 3px;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    margin: 25px auto 0px 0px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    max-width: 600px;
    
}

.game-info__question_right {
    margin: 25px 0px 0px auto;
    border-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.game-info__question__title{
    font-family: 'Tektur', cursive; 
    font-size: 22px;
    margin: 0px 0px 8px 0px;
}

.game-info__question__subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.main__button-play-game {
    margin-top: 65px;
    text-align: center;
}

/* MAIN */

.footer {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9) );
    height: 100%;
    padding: 70px 0px;
}

.footer__wrapper {
    width: 60%;
    max-width: 1550px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.footer__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__user-info a:hover {
    text-decoration: underline;
}

.footer_dev-info {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__author {
    transition: all 1.2s;
}

.footer__author:hover {
    text-decoration: underline;
    color: #f0f0f0;
}

@media (max-width: 1192px) {
    .logo__img {
        max-width: 55px;
        max-height: 60px;
    }
    
    .logo__text {
        font-size: 29px;
    }

    .nav__item {
        font-size: 16.5px;
        margin-right: 17px;
        padding: 2px 4px 3.5px 4px;
        border: 1.2px solid black;
    }

    .account {
        border: 1.2px solid darkmagenta;
        border-radius: 10px;
        padding-right: 6px;
        max-height: 60px;
    }

    .account img{
        max-height: 56px;
        max-height: 56px;
    }

    .account__text {
        font-size: 12px;
    }

    .advantages__card {
        max-width: 210px;
    }

    .advantages__card img{
        max-width: 130px;
        max-height: 115px;
    }

    .game-info__holder-questions {
        width: 100%;
        margin: 70px auto 0px auto;
    }
}

@media (max-width: 975px) {
    .burger-menu{
        display: flex;
        margin: 0px 20px 0px auto;
    }

    .nav__menu{
        display: none;
    }

    .header__down {
        margin-top: 170px;
        padding: 20px 25px;
    }

    .advantages__card {
        max-width: 155px;
        padding: 15px 9px;
    }

    .advantages__card__title{
        font-size: 17px;
    }
    
    .advantages__card__subtitle {
        font-size: 15px;
    }

    .footer__wrapper {
        width: 72%;
        font-size: 15px;
    }
}

@media (max-width: 780px) {
    .burger-slide {
        width: 160px;
    }
}

@media (max-width: 720px) {
    .header {
        padding-top: 7px;
    }

    .nav {
        padding: 8.5px 2% 8.5px 1%;
        border: 1px solid white;
    }

    .logo__img {
        max-width: 40px;
        max-height: 45px;
    }
    
    .logo__text {
        font-family: 'Tektur', cursive; 
        font-size: 20px;
    }

    .burger-menu{
        margin: 0px 10px 0px auto;
    }
    
    .burger-slide {
        width: 240px;
    }
    
    .burger-item {
        width: 180px;
        font-size: 18px;
        text-align: center;
    }
    
    .burger-hide {
        display: block;
    }

    .account{
        display: none;
    }

    .nav__menu{
        display: none;
    }
    
    .header__down {
        margin-top: 210px;
        padding: 25px;
    }

    .header__title {
        font-size: 35px;
        line-height: 45px;
    }
       
    .header__title span{
        font-size: 33px;
    }
    
    .header__subtitle {
        font-size: 24px;
    }

    .button-play-game {
        font-family: 'Tektur', cursive; 
        font-size: 24px;
        padding: 10px 15px;
    }

    .advantages__holder-cards {
        flex-direction: column;
    }

    .advantages__title {
        font-size: 27px;
        padding: 10px 16px;
    }

    .advantages__card {
        max-width: 100%;
        padding: 15px;
        margin-top: 20px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .advantages__card img{
        max-width: 80px;
        max-height: 65px;
    }

    .advantages__card__title {
        margin: 0px 15px 0px 15px;
        max-width: 135px;
    }

    .game-info__title {
        font-size: 28px;
        padding: 10px 13px;
    }

    .game-info__question {
        background-color: #fff5e5;
        border-radius: 25px;
        padding: 13px 10px;
        margin: 25px 0px 0px 0px;
        text-align: center;
    }

    .game-info__question__title{
        font-size: 20px;
    }
    
    .game-info__question__subtitle {
        font-size: 16px;
    }

    .footer {
        padding: 50px 0px;
    }

    .footer__wrapper {
        width: 80%;
        font-size: 14px;
    }

    .footer_dev-info {
        margin-top: 20px;
    }
}

@media (max-width: 585px) {
    .burger-slide {
        width: 224px;
    }
    
    .burger-item {
        width: 150px;
    }

    .footer {
        padding: 28px 0px;
    }

    .footer__wrapper a, .footer__wrapper p{
        max-width: 180px;
    }

    .footer_dev-info {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .header__down {
        margin-top: 180px;
        padding: 10px;
    }

    .header__title {
        font-size: 25px;
        line-height: 45px;
    }
       
    .header__title span{
        font-size: 22px;
    }
    
    .header__subtitle {
        font-size: 18px;
    }

    .button-play-game {
        font-family: 'Tektur', cursive; 
        font-size: 22px;
        padding: 8px 12px;
        max-width: 190px;
    }

    .advantages__card {
        max-width: 100%;
        padding: 12px 15px;
        margin-top: 26.5px;
        border: 1.7px solid #ff8800e0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .advantages__card:hover {
        border: 1.7px solid #cf5600e0;
    }

    .advantages__card img{
        display: none;
    }

    .advantages__card__title {
        margin: 0px 15px 0px 0px;
        max-width: 135px;
    }

    .game-info__title {
        font-size: 24px;
        padding: 10px 10px;
    }

    .game-info__title span{
        display: none;
    }

    .game-info__holder-questions {
        margin: 50px auto 0px auto;
    }

    .game-info__question {
        padding: 12px 8px;
        margin: 25px 0px 0px 0px;
    }

    .game-info__question__title{
        font-size: 17px;
    }
    
    .game-info__question__subtitle {
        font-size: 13px;
    }
    
    .footer__wrapper {
        width: 90%;
        font-size: 12px;
    }
}